<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="template :: scripts_header"/>
    <meta charset="UTF-8">
    <title>CheckList Form</title>
</head>
<body>

<th:block th:include="template :: navigator"/>
<div class="container">
    <h2>Checklist form</h2>
    <form th:action="@{/checkListForm}" method="post">
        <div class="row">
            <div class="col-md-5">
                Name:
            </div>
            <div class="col-md-5">
                <input type="text" name="nameCheck" placeholder="Checklist name:">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-5">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

<th:block th:include="template :: scripts_footer"/>
</body>
</html>